 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bloggo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          
          <div class="col-12 search-form-wrap js-search-form">
            <form method="get" action="#">
              <input type="text" id="s" class="form-control" placeholder="Search...">
              <button class="search-btn" type="submit"><span class="icon-search"></span></button>
            </form>
          </div>

          <div class="col-4 site-logo">
            <a href="/home" class="text-black h2 mb-0">Bloggo</a>
          </div>

          <div class="col-8 text-right">
            <nav class="site-navigation" role="navigation">
              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                <li><a href="/home">Home</a></li>
                <li><a href="/myblogs">My Bloggos</a></li>
                <li><a href="/createblog">Create Blog</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a class="logout" >Logout</a></li>
              </ul>
            </nav>
          
          </div>

      </div>
    </header>
    
    
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/images/dog_reading.jpg');">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
             
              <h1 class="mb-4"><a href="#"><%= blog.title %></a></h1>
              <div class="post-meta align-items-center text-center">
                <figure class="author-figure mb-0 mr-3 d-inline-block"></figure>
                <span class="d-inline-block mt-1"><%= blog.author %></span>
                <span>&nbsp;-&nbsp; <%= blog.createdAt %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="site-section py-lg">
      <div class="container">
        
        <div class="row blog-entries element-animate">

          <div class="col-md-12 col-lg-8 main-content">
            
            <div class="post-content-body">

                <p class="single-page-body"><%= blog.body %></p>

            </div>

            
      

          </div>

          <!-- END main-content -->

          <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box search-form-wrap">
              <form action="#" class="search-form">
                <div class="form-group">
                
                  <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <!-- END sidebar-box -->
       
            
            <!-- <div class="sidebar-box">
              <h3 class="heading">Popular Posts</h3>
              <div class="post-entry-sidebar">
                <ul>
                  <% if (myBlogs){ %> 
                  <% for(var i=0; i < myBlogs.length ; i++) { %> 
                  <li>
                   
                     
                      <div class="text">
                        <h4> <%= myBlogs[i].title %></h4>
                        <div class="post-meta">
                          <span class="mr-2"> <%= myBlogs[i].createdAt %></span>
                         
                        </div>
                      </div>

                   
                  </li> 
                  <% } %>
                  <% } %>
                </ul>
              </div>
            </div> -->
           

          </div>
          <!-- END sidebar -->

          

        </div>
      </div>
    </section>

    
    <section class="site-section py-lg">


      <% if (reviews){ %> 
        <% for(var i=0; i < reviews.length ; i++) { %> 
          <div class="comment comment-1" >
           
            <p class="review-text"> <%= reviews[i].review %></p>
            <hr>
            <p class="review-date">Created By <%= reviews[i].userName %> At <%= reviews[i].createdAt  %>  </p>
          </div>
    
      <% } %>
      <% } %>
    
    
     

  
    </section>



    


    <section class="comment-section">
    <form method="POST" class="comment-form p-5 bg-white">
             

 

      <div class="row form-group">
        <div class="col-md-12">
          <h3>Leave a comment!</h3>
          <textarea class="comment-body" name="body" id="comments" cols="30" rows="7" class="form-control" placeholder="What do you think about this article? Let us know!"></textarea>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <input type="submit" value="Comment" class="btn btn-primary py-2 px-4 text-white">
        </div>
      </div>


    </form>

  </section>
    
    
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
            <ul class="list-unstyled float-left mr-5">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Subscribes</a></li>
            </ul>
            <ul class="list-unstyled float-left">
              <li><a href="#">Travel</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Nature</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            

            <div>
              <h3 class="footer-heading mb-4">Connect With Us</h3>
              <p>
                <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                <a href="#"><span class="icon-twitter p-2"></span></a>
                <a href="#"><span class="icon-instagram p-2"></span></a>
                <a href="#"><span class="icon-rss p-2"></span></a>
                <a href="#"><span class="icon-envelope p-2"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/aos.js"></script>
  <link href="/netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="/netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="js/logout.js"></script>
  <script src ='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>

    
  </body>
</html>